<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/signIn.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>


<a href="/homepage">
  <div class="logo" id="myLogo">
      <h2>Mood.ly</h2>   
  </div> 
</a>

<div class="topnav" id="myTopnav">
  <!-- <a href="/profile">Profile</a>
  <a href="/tips">Tips</a>
  <a href="forum_mainpage">Forum</a>
  <a href="journal">Journal</a>
  <a href="mood_tracker" class="active">Mood Tracker</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a> -->
</div>

    
<div class="container">
  <div class="overlay" id="overlay">
    <div class="sign-in" id="sign-in">
      <h1>Welcome Back!</h1>
      <p>To keep connected with us please login with your personal info</p>
      <button class="switch-button" id="slide-right-button">Sign In</button>
    </div>
    <div class="sign-up" id="sign-up">
      <h1>Hello, Friend!</h1>
      <p>Enter your personal details and start a journey with us</p>
      <button class="switch-button" id="slide-left-button">Sign Up</button>
    </div>
  </div>
    
  <div class="form">
    <div class="sign-in" id="sign-in-info">
      <h1>Sign In</h1>
    
      <form id="sign-in-form" action="/sign_in" method="POST">    
        <input type="email" placeholder="Email" id="email_sign_in" name="email"/>
        <input type="password" placeholder="Password" id="password_sign_in" name="password"/>
        <% if(locals.err) { %>
          <div class = "alert alert-danger" role="alert"><%=err %></div>
        <% } %>
     
        <button class="control-button in">Sign In</button>
      </form>
    </div>

   

    <div class="sign-up" id="sign-up-info" >
      <form id="sign-up-form" action="/sign_up" method="POST">

        <div class="sign_up_details" class="first_step">
      
          <h1>Create Account</h1>

          <% if(locals.err) { %>
            <div class = "alert alert-danger" role="alert"><%=err %></div>
          <% } %>

          <input type="text" placeholder="Full Name" id="name_sign_up" name="name" oninput="this.className = ''"/>
          <input type="email" placeholder="Email" id="email_sign_up" name="email" oninput="this.className = ''"/>
          <input type="password" placeholder="Password" id="password_sign_up" name="password" oninput="this.className = ''"/>
        </div>

        <div class="sign_up_details" id="second_step">
          <input type="text" placeholder="Username" id="user_name" name="user_name" oninput="this.className = ''"/>
          <input type="date" placeholder="Birthday" id="birthday" name="birthday" oninput="this.className = ''"/>
          <input type="number" placeholder="Your Age" name="age" min="5" max="30" oninput="this.className = ''">
     <!--   
          <input type="radio" id="gender_male" name="gender" value="male" oninput="this.className = ''">
          <label for="male">male</label>
          <input type="radio" id="gender_female" name="gender" value="female" oninput="this.className = ''">
          <label for="female">female</label> -->
    
          <input type="tel" placeholder="Phone Number (Optional)" id="phone_number" name="phone_number" oninput="this.className = ''"/>
          <small></small>
          <input type="text" placeholder="Educational Level (Optional)" id="educational_level" name="educational_level" oninput="this.className = ''"/>
          <input type="text" placeholder="Name of School (Optional)" id="school" name="school" oninput="this.className = ''"/>
        </div>        

        <div style="overflow:auto;">
         
            <div style="float:center; display: flex;">
              <button class="control-button in" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
              <button class="control-button in" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
          
        </div>

        <div style="text-align:center;margin-top:20px;">
          <span class="step"></span>
          <span class="step"></span>
        </div>
      </form>
    </div>
  </div>
</div>
    
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

  <script>
        window.addEventListener("DOMContentLoaded", () => {
        var firebaseConfig = {
        apiKey: "AIzaSyB62-2cMjYCbJySOj6uFXNSQkmu1y7t0M4",
        authDomain: "moodly-9fa79.firebaseapp.com",
        databaseURL: "https://moodly-9fa79-default-rtdb.asia-southeast1.firebasedatabase.app",
        projectId: "moodly-9fa79",
        storageBucket: "moodly-9fa79.appspot.com",
        messagingSenderId: "216325732946",
        appId: "1:216325732946:web:e1f2714927b5b281267d8b"
      };

          firebase.initializeApp(firebaseConfig);

          firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

          document
            .getElementById("sign-in-form")
            .addEventListener("submit", (event) => {
              event.preventDefault();
              const login = event.target.email.value;
              const password = event.target.password.value;

              firebase
                .auth()
                .signInWithEmailAndPassword(login, password)
                .then(({ user }) => {
                  console.log(user);
                  return user.getIdToken().then((idToken) => {
                    return fetch("/sessionLogin", {
                      method: "POST",
                      headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                      },
                      body: JSON.stringify({ idToken }),
                    });
                  });
                })

                .then(() => {
                  return firebase.auth().signOut();
                })
                .then(() => {
                  window.location.assign("/profile");
                });
         
              return false;
          });
        });
        </script>

<script src="/js/signIn.js"></script>
    
</body>
</html>
