<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/welcomepage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <div class="welcome_image">
        <img src="/assets/welcome_page.png">
    </div>
    <div class="logo">
         <h1>Mood.ly</h1>
    </div>


    <div class="tagline">
        <h1>Welcome!</h1>
        <h2>Journaling and fitness tracking your mind</h2>
    </div>

    <form id="sign-in-page" action="/signIn" method="POST">
    <button class="get_started">Get Started</button>
    </form>

</body>
</html>
