/*HEADER CSS*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
body {
  background-color: #F5F5ED;
}

.logo{
  width:100px;
  margin-left: 80px;
  margin-top: 20px;
  position: absolute;
  color: #1A5F16;
  display: block;
}

.logo h2{
  font-size:32px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

/* Add a black background color to the top navigation */
.topnav {
  padding:20px;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0.5px;
}

.topnav a:hover{
  border-bottom: 2px solid #1A5F16;
  color:#1A5F16;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


/* JOURNAL CSS*/
h1 {
    color: #DF9527
}
  
.journal-container {
  max-height: 300px;
  margin: 10px auto;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.164);
  background-color: white;
}
  
.journal-container:hover {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.row-3{
  display: grid; 
  grid-template-columns:repeat(3,1fr); 
  grid-column-gap:10px; 
  padding-left: 30px;
  padding-right: 30px;

}

.jounralBtn{
  margin-right: 20px;
}
  
.wrap-content{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.modal-header{
  background-color: #F5F5ED;
}

.modal-footer{
  background-color: #F5F5ED;
}

.noDataToday{
  text-align: center;
}

.input-group {
  /* padding-right: 35px; */
  justify-content: right;
}

@media (max-width: 755px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .journal-container{
  }
  
  .row{
    padding-left: 0;
  }

  .grid{
    padding-left: 30px;
  }

  .input-group{
    flex-flow: nowrap;
  }

  .row-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    padding-left: 30px;
    padding-right: 30px;

  }
}