body{
    background-color: #f5f5ed;
   

}

.logo h1{
    color: #1A5F16;
    display:block;
    padding:60px;
    margin-left:50px;
} 

.tagline{
    display:block;
    margin-left:50px;
}

.tagline h1{
    font-size: 96px;
    color: #DF9527;
    padding-left:50px;
    width:40%;
}

.tagline h2{
    font-size: 46px;
    color: #1A5F16;
    width:40%;
    padding-left:60px;
    margin-top:0px;
}

.get_started {
    display:block;
    margin-left:100px;
    border-radius: 50px;
    width:200px;
    background-color: #DDEDAF;
    color: #101010;
    border: none;
    padding: 10px 18px;
    font-size: 20px;
    font-family: Raleway;
    cursor: pointer;

}

.get_started:hover {
    opacity: 0.7;
  }

img{
    float: right;
    width:650px;
    height: 550px;
    padding-right:70px;
    margin-top:10%;

  }
